@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

* {
    color: #FFFFFF;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-left: 3rem;
}

.logo > img {
    width: 45px;
}

.line {
    border: .5px solid rgba(128, 128, 128, 0.548);
    width: 35%;
    height: 0%;
    transform: translateX(3rem);
}

nav {
    width: 60%;
    background-color: rgba(128, 128, 128, 0.1);
}

.list_container {
    display: flex;
    margin-left: 10%;
}

.nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 60%;
}

.nav_link {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

li > p {
    font-weight: bold;
    margin-right: 1rem;
}

.nav_link, li > p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7;
    text-decoration: none;
}