body {
    background-image: url('./assets/homepage/background-home-desktop.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     background-color: black;
}